.carousel {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden; /* Hide overflow to show only one set of cards */
  padding: 20px;
}

.carousel-cards {
  display: flex;
  transition: transform 0.5s ease; /* Smooth transition for sliding */
  width: auto;
}

.carousel-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; /* Ensure buttons are above cards */
}

.prev {
  left: -0.5%;
  transform: scale(1.1);
}

.next {
  right: -0.4%;
  transform: scale(1.1);
}

.card-wrapper {
  margin: 0 5px; /* Add some space between cards */
}s

/* Default card width */
.card {
  width: 145px; /* Fixed width for cards */
  flex-shrink: 0;
}

/* Responsive styles */
@media (max-width: 900px) {
  .card {
    width: 550px; /* Adjust card width for medium screens */
  }
  .prev {
    left: -2.5%;
    transform: scale(1.1);
  }
  
  .next {
    right: -0.4%;
    transform: scale(1.1);
  }
}

@media (max-width: 600px) {
  .card {
    width: 80%; /* Full width for small screens */
  }
  .prev {
    left: -2.5%;
    transform: scale(1.1);
  }
  
  .next {
    right: -0.6%;
    transform: scale(1.1);
  }
}

.carousel::-webkit-scrollbar {
  display: none; /* Hide scrollbar for a cleaner look */
}
